<%= link_to post, method: :delete, data: { confirm: "정말 삭제할까요?" },
                  title: "삭제하기", class: "delete-btn" do %>
  <button class="delete-btn">
    <i class="icon-trash"></i> Delete
  </button>
<% end %>