<span id="favorite_form_<%= post.id %>">
<% if current_user.favorited?(post) %>
  <%= render 'posts/undo_favorite', post: post %>
<% else %>
  <%= render 'posts/favorite', post: post %>
<% end %>
</span>