<%= form_for(current_user.favorites.find_by(post_id: post),
              html: { method: :delete }, remote: true) do |f| %>
  <button type="submit", class="favorited-btn">
    <i class="icon-heart"></i> Favorited
  </button>
<% end %>